@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main div{
    background-image: url("https://media.npr.org/assets/img/2017/08/18/istock-586379824_custom-741b39cd56655a0f4bbd70245b26576c774b4049-s1100-c50.jpg");
    padding: 300px 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.main div h1{
    color: rgb(250, 250, 250);
    font-size: xxx-large;

}
.main div a{
    border: none;
    background-color: #00b9e7;
    font-weight: bold;
    color: white;
    padding: 15px 60px;
    font-size: x-large;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;;
}
.main a:hover{
    background-color: #0193b8;
    
}
.main a{
    transition: all 0.3s ease 0s;
}

.main article{
    background-color: #00b9e7;
    color: white;
    width: 40%;
    padding: 92.4px;
    display: inline-block;
    text-align: center;
    margin: 2px;
    font-family: "Montserrat", sans-serif;
    position: relative;
}   
.main article a{
    border: none;
    background-color: #02a3c7;
    font-weight: bold;
    color: white;
    padding: 15px 60px;
    font-size: x-large;
    margin-right: auto;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom:0px;
    right: 0px;

  
}   
.main article a:hover{
    border: none;
    background-color: #0c323b;
    font-weight: bold;
    color: white;
    padding: 15px 60px;
    font-size: x-large;
    margin-right: auto;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  
}   
