@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main div:nth-child(1){
    background-image: url("https://media.npr.org/assets/img/2017/08/18/istock-586379824_custom-741b39cd56655a0f4bbd70245b26576c774b4049-s1100-c50.jpg");
    padding: 300px 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.main div h1{
    color: rgb(250, 250, 250);
    font-size: xxx-large;

}
.btnAbout{
    margin: 20px;
}
.btnAbout a{
    border: none;
    background-color: #00b9e7;
    font-weight: bold;
    color: white;
    padding: 15px 60px;
    font-size: x-large;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    
}
.main a:hover{
    background-color: #0193b8;
    
}
.main a{
    transition: all 0.3s ease 0s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    box-sizing: border-box;
    
    position: relative;
    
} 
.grid article{
    background:#00b9e7;
    position: relative;
    border-radius: 10px;
    margin: 5px;
} 
.grid article a{
    border: none;
    border-radius: 10px;
    background-color: #02a3c7;
    font-weight: bold;
    color: white;
    padding: 15px 40px;
    font-size: x-large;
    margin-right: auto;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom:0px;
    right: 0px;
    transition: all 0.3s ease 0s;
}
 
.grid article p{
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    color: white;
    margin:10px;
}
.grid article h2{
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    color: white;
    margin:10px;
}
